@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.contact {
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 100vh;
    height: auto;
}

form.main {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.navigation {
    text-align: center;
    width: 9rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px solid white;
    font-family: 'PT Serif', serif;
}

p.description {
    text-align: center;
    color: darkcyan;
    font-size: 1.2rem;
}

form p.error {
    color: red;
    font-size: .7rem;
}

input.from_name,
input.reply_to {
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'PT Sans', sans-serif;
    color: black;
    padding: .5rem;
    font-size: 1rem;
    margin: .5rem;
    background-color: white;
    border-radius: 3px;
    width: 600px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus  {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

textarea.message {
    width: 600px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'PT Sans', sans-serif;
    color: black;
    padding: .5rem;
    font-size: 1rem;
    margin: .5rem;
    background-color: white;
    border-radius: 3px;
    height: 10rem;
}

.container button {
    margin-top: 2rem;
    letter-spacing: 5px;
    background-color: darkcyan;
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
    
button.contact:hover {
    scale: 108%;
    background-color: rgb(4, 140, 140);
} 


@media only screen and (max-width: 900px) {
    textarea.message {
        width: 400px;
    }

    input.from_name,
    input.reply_to {
        width: 400px;
    }
}