@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: gray;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
}

.logo img {
    margin-top: -.5rem;
    height: auto;
    width: 19rem;
    margin-left: 10%;
}

ul.menu {
    margin-right: 30%;
    display: flex;
}

.menu li {
    list-style: none;
    color: white;
    margin: 0 15% 0 15%;
    border-bottom: 2px solid black;
    cursor: pointer;
    letter-spacing: 3px;
}

.menu li:hover {
    color: lightgray;
    border-bottom: 2px solid lightgray;
}

.social-icons {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-top: 45%;
}

li.icon {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -150px;
    background-color: darkcyan;
    color: white;
    transition-duration: 300ms;
}

a:-webkit-any-link {
    padding: .9rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

li.icon:hover {
    margin-left: -40px;
    transition-duration: 300ms;
}

a.font {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

.menu-toggle {
    margin-right: 3rem;
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }


@media screen and (max-width: 1300px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  
    .menu.active {
      display: flex;
    }

    .menu.not-active{
        display: none;
    }

    ul.menu {
        padding: 0;
        margin: 0;
        display: flex;
        background-color: black;
        height: auto;
        margin-top: 1rem;
    }
  
    .menu li {
      list-style: none;
      color: white;
      border-bottom: none;
      padding: .5rem;
      margin: 0.3rem .5rem 0.1rem .5rem;
      height: auto;
      letter-spacing: 3px;
    }

    .menu li a {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100vw;
    }

    .menu li:hover {
        color: lightgray;
        border-bottom: none;
        background-color: rgb(32, 32, 32);
    }
  
    .menu-toggle {
      display: flex;
    }
  }