@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.skills {
    width: 100%;
    background-color: black;
    color: white;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

p.navigation {
    margin-left: 4rem;
    text-align: center;
    width: 9rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px solid white;
    font-family: 'PT Serif', serif;
}

p.description {
    text-align: center;
}

.technologies {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-self: center;
    align-items: center;
    font-size: 1.5rem;
}

.field {
    padding: 1rem;
    width: 12rem;
    text-align: center;
    margin: 1rem 2rem 2rem 2rem;
    background-color: rgba(43, 40, 40, 0.5);
    box-shadow: 2px 3px 4px 2px rgba(43, 40, 40, 0.5);
}

.field:hover {
    scale: 115%;
    animation-duration: 500ms;
    box-shadow: 1px 2px 3px 1px rgba(43, 40, 40, 0.5);
}

img.icon-img {
    height: auto;
    width: 6rem;
    padding: .5rem;
    margin-left: 1.9rem;
}

p.icon-name {
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: white;
    font-family: 'PT Serif', serif;
}

@media only screen and (max-width: 900px) {

    .technologies {
        display: grid;
        grid-column: 6;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {

    .technologies {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }  
}