.work {
    width: 100%;
    background-color: black;
    color: white;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .container {
    padding-top: 4rem;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.work .container p.description {
    margin-top: -2.5rem;
    padding: 0;
    margin-bottom: .5rem;
    color: rgb(17, 188, 188);
    font-size: 1.6rem;
    font-family: 'Corben', cursive;
    letter-spacing: .3rem;
    font-weight:900;
    text-align: center;
}

.projects-backend {
    display: flex;
    justify-content: center;
}

.projects-backend #screen {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 10rem;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.projects-backend h4 {
    font-size: 2rem;
    margin: 0;
    padding-top: 0.2rem;
}

button.test {
    font-weight: bold;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    margin: .5rem 1rem;
    color: rgb(129, 43, 43);
    border: 2px solid rgb(129, 43, 43);
    border-radius: 4px;
    width: 6rem;
    cursor: pointer;
}

button.test:hover {
    color: black;
    background-color: rgb(129, 43, 43);
}

.projects-frontend {
    align-self: center;
    align-items: center;
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.projects-frontend #screen {
    margin: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    align-items: center;
    text-align: center;
}

.projects-frontend #screen:hover,
.projects-backend #screen:hover  {
    animation-duration: 500ms;
    box-shadow: none;
    background-image: none;
}

.opacity {
    opacity: 0;
    height: 149px;
}

.opacity:hover {
    opacity: 1;
}

h4 {
    padding-top: 0.5rem;
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.opacity .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.demo {
    color: darkorchid;
    font-weight: bold;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    margin: .5rem 1rem;
    border: 2px solid darkorchid;
    border-radius: 4px;
    width: 6rem;
    cursor: pointer;
}

button.demo:hover {
    background-color: darkorchid;
    color: black;
}

button.code {
    width: 6rem;
    font-weight: bold;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    margin: 0.5rem 2rem;
    color: darkkhaki;
    border: 2px solid darkkhaki;
    border-radius: 4px;
    cursor: pointer;
}   

button.code:hover {
    background-color: darkkhaki;
    color: black;
}

.project-java1 {
    background-image: url("../assets/java.jpg");
}

.project1 {
    background-image: url("../assets/project1.jpg");
}

.project2 {
    background-image: url("../assets/project2.jpg");
}

.project3 {
    background-image: url("../assets/project3.jpg");
}

.project4 {
    background-image: url("../assets/project4.jpg");
}

.project5 {
    background-image: url("../assets/project5.jpg");
}

.project6 {
    background-image: url("../assets/project6.jpg");
}

.project7 {
    background-image: url("../assets/project7.jpg");
}

.project8 {
    background-image: url("../assets/project8.jpg");
}

@media only screen and (max-width: 900px) {

    .projects-frontend {
        display: grid;
        grid-column: 6;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1300px) and (min-width: 900px) {

    .projects-frontend {
        display: grid;
        grid-column: 6;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}